.carousel .carousel-control-next-icon {
    width: 70px;
    height: 60px;
    filter: invert(100%);

}
.carousel .carousel-control-prev-icon {
    width: 70px;
    height: 60px;
    filter: invert(100%);
}

.carousel .carousel-indicators {
    filter: invert(100%);
    /*color: ;*/

}

.breadcrumb, .breadcrumb:last-child {
    color: #000000;
    background-color: #F7F5F5;
    font-size: large;
}

img.resize {
    width: 110%; /* you can use % */
    height: auto;
}