
.search-bar {
    opacity: 0.7;
    background-color: rgba(0,0,0,.1); /*transparent;*/
    text-align: center;
    height:30px;
    transition:height 1s;
    -webkit-transition:height 1s;
}
@media only screen and (max-width: 1000px) {
    #Buscador {
        display: none;
    }
}
.Buscador {
    font-size: 25px;
    color: white;
}
.custom-tag {
    max-width: 100%;
    height: auto;
    background: black;
}
.title {
    font-family: 'Arial Black';
}