
.search-bar {
    /*opacity: 0.3;*/
    background-color: rgba(0,0,0,.1); /*transparent;*/
    text-align: center;
    height:30px;
    transition:height 1s;
    -webkit-transition:height 1s;
}

input[type="text"] {
    font-size: 25px;
    color: white;
}

.title {
    font-family: 'Arial Black';
}